/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Universal section paddings */
.section {
  padding: 120px 0;
}
/* Region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  align-items: center;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px 
}


.logo-accent {
  content: 'Studio';
  color: #2e2f42;
  margin-left: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms ease-in-out;
  padding-bottom: 24px 0;
  padding-right: 149px 0;
}  

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
}


/* Contacts */
.contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: normal; 
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 188px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 496px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  /*margin-bottom: 48px;*/
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: block; 
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;  
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features */
.features {
  padding: 120px 0;

}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: 262.6px;
  height: 125px;
  flex-basis: calc((100% - 72px) / 4);
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
/* Team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16),
    0px 1px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 264px;
  text-align: center;
}

.team-img {
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}

/* Portfolio  */
.portfolio {
  padding: 120px 0;
  background-color: #ffffff;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-items: center;
  flex-wrap: wrap;
  row-gap: 48px;  
  line-height: 1.11;
  letter-spacing: 0.02em;

}
.portfolio-item {
  width: 360px;
  height: 420px;
  border: 1px solid #e7e9fc;
  border-top: none;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.portfolio-text {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 8px;
}

.portfolio-role {
  font-size: 16px;
  color: #434455;
  margin: 0;
}


/* --- Футер --- */
.footer {
  background-color: #2e2f42;
  /*color: #f4f4fd;*/
  padding: 100px 0
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;  
}
  
.footer-logo-accent {
  color: #f4f4fd;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.footer-text {
  line-height: 1.5;
  color: var(--footer-text-color, #f4f4fd);
  letter-spacing: 0.02em;
  max-width: 264px;
  font-size: 16px;
}